<ul id="menu">
    <li id="titre" style="color:white"><font size="5">GameTrack</font></li>
    <li><a id="display" href="#1"><font size="3">Accueil</font></a></li>
    <li><a id="display" href="#2"><font size="3">Nouveaut&eacute;s</font></a></li>
    <li><a id="display" href="#3"><font size="3">D&eacute;couvrir</font></a></li>
    <li><a id="display" href="#4"><font size="3">Connexion/s'inscrire</font></a></li>
	
     <li id="hamburger">
     <a style="text-decoration:none" href="#"><font color="white" size="4">☰</font></a>           
     </li>
</ul>