<nav>
     <a routerLink="/menu" routerLinkActive="active"></a>
	 <app-menu></app-menu>
	 
	 <a routerLink="/search-bar" routerLinkActive="active"></a>
	 <app-search-bar></app-search-bar>
	 
	 <a routerLink="/populaire" routerLinkActive="active"></a>
	 <app-populaire></app-populaire>
	 
	 <a routerLink="/recommande" routerLinkActive="active"></a>
	 <app-recommande></app-recommande>
	 
	 <a routerLink="/liste" routerLinkActive="active"></a>
	 <app-liste></app-liste>
	 
	 
</nav>	
	<router-outlet></router-outlet> 