<div id="liste">
      <br><br><h1>Liste de souhaits</h1>
      <div id="header"></div><br><br>
      
    <span class="bordure">
    <img src="https://i.ytimg.com/vi/nWHQ77BZDZg/maxresdefault.jpg" alt="Texte en gras" class="image" />   
    <FONT color="black" size="2">
    <h2>Star Wars Battlefront II</h2>
    <p class="paragraphe"> Star Wars Battlefront II est un FPS se déroulant dans l'univers de la
    saga à succès. Le titre vous permet de prendre part à des combats
    sur Terre ou dans les airs dans les lieux emblématiques des films.
    Rejoignez les rangs de l'Empire ou ceux de la Rébellion dans des
    parties multijoueur endiablées et profitez d'une expérience solo
    inédite aux commandes d'un soldat de l'Empire.</p>  
    </FONT>
    <a href="#" class="more">More</a>
	<a href="https://www.instant-gaming.com/fr/1835-acheter-cle-origin-star-wars-battlefront-2/" class="acheter">Acheter le jeu</a>
    </span>
    </div>